.card-content {
    width: 400px;
    margin: auto;
}

.card {
    margin-top: 10px;
}

.container {
    padding-top: 80px;
}

ul {
    list-style-type: none;
}

img {
    width: 50px;
    height: 50px;
}
